<p>
    Please include a short bio (up to one page) for your file: Helpful Tips to creating a short
    biography.    
</p>
<ul>
    <li>
        Introduce yourself as if you were meeting a stranger.     
    </li>
    <li>
        Immediately state what you do.     
    </li>
    <li>
        Touch upon your military service and your most important accomplishments.
    </li>
    <li>
        Share any other information that you feel comfortable with.
    </li>
    <li>
        Goals after you graduate from K9s For Warriors.
    </li>
</ul>
<div class="col-xs-12">
    <textarea class="form-control" rows="10"></textarea>
</div>