<div>
    <p>Please review the sections of your application, and when you are ready click the button below to submit.</p>
    
    <button type="submit" class="btn btn-primary">Submit Your Application</button>
</div>
