<p>
    Thank you for your interest in K9s For Warriors, Inc. K9s For Warriors, Inc. provides
    Warriors disabled while serving our country since 9/11/01 with quality trained service
    dogs for mobility impairment, traumatic brain injury (TBI), and those with a clinical
    diagnosis of a psychiatric impairment such as post-traumatic stress (PTS). K9s For
    Warriors does not provide service dogs to individuals who are legally blind or hearing
    impaired.
</p>

<h2>To apply for a service dog from K9s For Warriors, the following are required: </h2>
<ul>
    <li class="">
        Completed Skills Questionnaire for Service Dog Placement
        @*@Html.CheckBox("SkillsQuestionnaire")*@
    </li>
    <li class="">
        Consent to Contact
        @*@Html.CheckBox("Consent")*@
    </li>
    <li class="">
        Email current photo to info@k9sforwarriors.org.
        @*@Html.CheckBox("Email")*@
    </li>
    <li class="">
        Two letters of personal reference including names and addresses for K9s For
        Warriors. The contents of the letter should include why you would be a good
        candidate. These personal references should not be from immediate family
        members, but rather a minister, teacher, co-worker, past employer, or friend.

        @*@Html.CheckBox("ReferenceLetters")*@
    </li>
    <li class="">
        Letter from doctor or psychiatrist explaining your diagnosis and why you would be a good fit.
        @*@Html.CheckBox("DrsLetter")*@
    </li>
    <li class="">
        Copy of DD214 (If available
        @*@Html.CheckBox("DrsLetter")*@
    </li>
    <li>
        <strong>If still active duty, a letter from your chain of command is required.</strong>
    </li>
    <li class="">
        Sign and date the Hold Harmless Agreement/Dog Removal Policy/No Questions Asked Policy
        @*@Html.CheckBox("HoldHarmless")*@
    </li>
    <li class="">
        Initial all pages next to page number.
        @*@Html.CheckBox("InitialAllPages")*@
    </li>
</ul>

<p>
    Our applicant review committee will screen your completed applicant packet and
    determine if you meet the necessary requirements. the review process generally takes
    at least 6-8 weeks.
    please sign and date to acknowledge you have completed the application in full.
</p>

<div class="visible-print">_______________________________________________ Date: ___________________</div>
