<div class="container">
    <h2>Warrior Application</h2>

    @using (Html.BeginForm(new { role = "form" }))
    {
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#overview" role="tab" data-toggle="tab">Overview</a></li>
            <li><a href="#bio" role="tab" data-toggle="tab">Bio</a></li>
            <li><a href="#confirmAndSubmit" role="tab" data-toggle="tab">Review and Submit</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="overview">
                <div class="row">
                    <div class="col-xs-12">
                        @Html.Partial("_Overview")
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="bio">
                <div class="row">
                    <div class="col-xs-12">
                        @Html.Partial("_Bio")
                    </div>
                </div>
            </div>
            
            <div class="tab-pane fade" id="confirmAndSubmit">
                <div class="row">
                    <div class="col-xs-12">
                        @Html.Partial("_ConfirmAndSubmit")
                    </div>
                </div>
            </div>
        </div>
    }
</div>
